
{% assign paper=include.paper %}

<div class="row paper">
<div class="col-md-8">
		<span class="title">{{ paper.title }}</span>
		<span class="authors">{{ paper.authors }}</span>
</div>


<div class="col-md-4" style="text-align: right;">
{% if paper.abstract %}
<a href="#{{ paper.slug }}-parent" role="button" data-toggle="collapse" href="#{{ paper.slug }}" aria-expanded="false" aria-controls="{{ paper.slug }}" class="abstract-link">[abstract]</a>
{% endif %}

<a href="{{ paper.slug | prepend:"files/papers/" | prepend: page.data_dir }}.pdf" class="pdf-link">[paper]</a>

{% if paper.poster %}
<a href="{{ paper.slug | prepend:"files/posters/" | prepend: page.data_dir }}_poster.pdf" class="pdf-link">[poster]</a>
{% endif %}

{% if paper.video %}
<a href="{{ paper.slug | prepend:"files/videos/" | prepend: page.data_dir }}.mp4" class="video" download>[video]</a>
{% endif %}
</div>

<div class="clearfix"></div>

{% if paper.tldr %}
	<div class="paper-tldr">{{ paper.tldr }}</div>
{% endif %}

{% if paper.abstract %}
<div id="{{ paper.slug }}" class="collapse" aria-labelledby="#{{ paper.slug }}-parent" > 
	<div class="well">
	{{ paper.abstract }}
	</div>
</div>
{% endif %}

</div>


